<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.liwshuo.smarttodo" >

    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".control.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.MyTheme" >
        <activity
            android:name=".activity.TodoListActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".service.ClipboardService" />
        <service android:name=".service.AlarmIntentService" />
        <service android:name=".service.InitIntentService"/>
        <service
            android:name=".widget.TodoWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
        <receiver
            android:name=".receiver.SmsReceiver"
            android:enabled="true" >
            <intent-filter android:priority="999" >
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.AlarmReceiver" />

        <activity
            android:name=".activity.TodoDetailActivity"
            android:label="@string/title_activity_todo_detail"
            android:theme="@style/DialogActivity" >
        </activity>
        <activity
            android:name=".activity.TimePickerActivity"
            android:label="@string/title_activity_time_picker"
            android:theme="@style/DialogActivity" >
        </activity>
        <activity
            android:name=".activity.DatePickerActivity"
            android:label="@string/title_activity_date_picker"
            android:theme="@style/DialogActivity" >
        </activity>
        <activity
            android:name=".activity.TodoAddActivity"
            android:label="@string/title_activity_todo_add"
            android:windowSoftInputMode="adjustResize|stateAlwaysVisible" >
        </activity>

        <receiver android:name=".widget.TodoDeskWidget" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/todo_desk_widget_info" />
        </receiver>

        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
    </application>

</manifest>
